body {
    background-color: #eeeeee;
    margin: 2rem 2.5rem;
    min-width: 700px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: white;
    padding: 2rem 5rem 0 5rem;
}

section {
    padding: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.header__secondary {
    padding: 0;
    display: inline-block;
    color: #2A2A2A;
}

.header__container {
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 1rem;
}