body {
    background-color: #eeeeee;
    margin: 2rem 2.5rem;
    min-width: 500px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: white;
    padding: 2rem 5rem 0 5rem;
}

section {
    padding: 0;
}

h1 {
    margin: 0;
}

.header__secondary {
    padding: 0;
    display: inline-block;
    color: #2A2A2A;
}