.thumbnails {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    justify-content: space-evenly;
}

.thumbnail {
    width: 15rem;
    border-radius: 5px;
    padding: 0;
    height: 16rem;
    border: 1px solid #D3D3D3;
    transition: all .3s;
    margin-bottom: 1rem;
}

.thumbnail:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.thumbnail__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 10rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.thumbnail-bottom {
    height: 20rem;
    padding: .8rem;
}
.thumbnail-header {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #2A2A2A;
}

.thumbnail-rating {
    color: #D3D3D3;
    font-size: 20px;
}

.rating-red {
    color: #e74c3c;
}

.thumbnail-rating_amount {
    font-size: .9rem;
    padding-left: .2rem;
    color: #34495e;
    font-weight: 600;
}

.thumbnail-additional-information {
    font-size: .8rem;
    font-weight: 300;
    padding: .2rem 0;
    color: #2c3e50;
}

.view-all {
    display: inline-block;
    float: right;
    padding-top: .5rem;
    text-decoration: none;
    color: #9b59b6;
    font-weight: 600;
}

.view-all:hover {
    color: #8e44ad;
}