<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eternal Venus</title>
    <link rel="stylesheet" type="text/css" href="css/SearchBar.css">
    <link href="https://fonts.googleapis.com/css?family=Overpass:400,600" rel="stylesheet">
</head>
<body>



    <div class="container">
        <div class="search-bar">
            <h1 class="header-main">Find Your Table for Any Occasion</h1>
            <form action="">
                <div class="search-box">
                    <div class="date_picker">
                        <input type="text" id="datepicker" placeholder="Choose a Date" size="30">
                    </div>
                    <div class="time">
                        <input type="text" placeholder="Time">
                    </div>
                    <div class="number-of-people">
                        <input type="number" placeholder="Number of People" size="30">
                    </div>
                </div>
                <div class="search-box">
                    <div>
                        <input type="text" placeholder="Specific Location">
                    </div>
                    <button class="search-button">
                        Find Table
                    </button>
                </div>
            </form>
        </div>
    </div>






    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
            $( "#anim" ).on( "change", function() {
                $( "#datepicker" ).datepicker( "option", "showAnim", $( this ).val() );
            });
        } );
    </script>
</body>
</html>