<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>1Table</title>
    <link rel="stylesheet" type="text/css" href="css/SearchBar.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" href="css/button.css">
    <link rel="stylesheet" type="text/css" href="css/thumbnail.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,800" rel="stylesheet">
</head>
<body>

<section class="navbar">
    <h1 class="navbar-header">1Table</h1>
    <div class="navbar-buttons">
        <a href="" class="button-secondary button-secondary_signup">
            Sign up
        </a>
        <a href="" class="button-secondary button-secondary_signin">
            Sign in
        </a>
    </div>
</section>


<section class="search-bar">
    <h1 class="header-main">Reserve Your Table for Any Occasion</h1>
    <form action="">
        <div class="search-box">
            <div class="date_picker">
                <input type="text" name="date" id="datepicker" placeholder="Choose a Date" size="30">
            </div>
            <div class="time">
                <input type="text" name="time" placeholder="Time">
            </div>
            <div class="number-of-people">
                <input type="number" name="numberOfPeople" placeholder="Number of People" size="30">
            </div>
        </div>
        <div class="search-box">
            <div>
                <input type="text" name="location" placeholder="Specific Location">
            </div>
            <button class="search-button" type="submit">
                Find Table
            </button>
        </div>
    </form>
</section>

<section class="container">
    <div class="header__container">
        <h1 class="header__secondary">Popular Restaurants in Manhattan</h1>
        <a class="view-all" href="">View All</a>
    </div>

    <div class="thumbnails">
        <div class="thumbnail">
            <div class="thumbnail-top">
                <img src="images/chinese-noodle-restaurant.jpg" class="thumbnail__image" alt="">
            </div>
            <div class="thumbnail-bottom">
                <h2 class="thumbnail-header">Main Noodle House</h2>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating">&#9733;</span>
                <span class="thumbnail-rating_amount">7289 reviews</span>
                <h2 class="thumbnail-additional-information">Chinese &middot; $$$ &middot; Soho</h2>

            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-top">
                <img src="images/coffee-shop.jpg" class="thumbnail__image" alt="">
            </div>
            <div class="thumbnail-bottom">
                <h2 class="thumbnail-header">Coffee Time</h2>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating_amount">12349 reviews</span>
                <h2 class="thumbnail-additional-information">American &middot; $$ &middot; Kips Bay</h2>

            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-top">
                <img src="images/fast-food.jpg" class="thumbnail__image" alt="">
            </div>
            <div class="thumbnail-bottom">
                <h2 class="thumbnail-header">Burger Cistro</h2>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating_amount">12289 reviews</span>
                <h2 class="thumbnail-additional-information">American &middot; $$$ &middot; Chelsea</h2>

            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-top">
                <img src="images/bar.jpg" class="thumbnail__image" alt="">
            </div>
            <div class="thumbnail-bottom">
                <h2 class="thumbnail-header">The Tipsy Boi</h2>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating">&#9733;</span>
                <span class="thumbnail-rating">&#9733;</span>
                <span class="thumbnail-rating_amount">72342 reviews</span>
                <h2 class="thumbnail-additional-information">French &middot; $$$$$ &middot; Nomad</h2>

            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-top">
                <img src="images/italian.jpg" class="thumbnail__image" alt="">
            </div>
            <div class="thumbnail-bottom">
                <h2 class="thumbnail-header">Sapore Di Mare</h2>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating_amount">4212 reviews</span>
                <h2 class="thumbnail-additional-information">Italian &middot; $$$$$ &middot; Noho</h2>
            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-top">
                <img src="images/vegan.jpg" class="thumbnail__image" alt="">
            </div>
            <div class="thumbnail-bottom">
                <h2 class="thumbnail-header">Blossom Lotus</h2>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating_amount">12421 reviews</span>
                <h2 class="thumbnail-additional-information">American &middot; $$$ &middot; East Village</h2>

            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="header__container">
        <h1 class="header__secondary">Top Cuisines Near You</h1>
        <a class="view-all" href="">View All</a>
    </div>

    <div class="thumbnails">
        <div class="thumbnail">
            <div class="thumbnail-top">
                <img src="images/chinese-noodle-restaurant.jpg" class="thumbnail__image" alt="">
            </div>
            <div class="thumbnail-bottom">
                <h2 class="thumbnail-header">Main Noodle House</h2>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating">&#9733;</span>
                <span class="thumbnail-rating_amount">7289 reviews</span>
                <h2 class="thumbnail-additional-information">Chinese &middot; $$$ &middot; Soho</h2>

            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-top">
                <img src="images/coffee-shop.jpg" class="thumbnail__image" alt="">
            </div>
            <div class="thumbnail-bottom">
                <h2 class="thumbnail-header">Coffee Time</h2>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating_amount">12349 reviews</span>
                <h2 class="thumbnail-additional-information">American &middot; $$ &middot; Kips Bay</h2>

            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-top">
                <img src="images/fast-food.jpg" class="thumbnail__image" alt="">
            </div>
            <div class="thumbnail-bottom">
                <h2 class="thumbnail-header">Burger Cistro</h2>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating_amount">12289 reviews</span>
                <h2 class="thumbnail-additional-information">American &middot; $$$ &middot; Chelsea</h2>

            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-top">
                <img src="images/bar.jpg" class="thumbnail__image" alt="">
            </div>
            <div class="thumbnail-bottom">
                <h2 class="thumbnail-header">The Tipsy Boi</h2>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating">&#9733;</span>
                <span class="thumbnail-rating">&#9733;</span>
                <span class="thumbnail-rating_amount">72342 reviews</span>
                <h2 class="thumbnail-additional-information">French &middot; $$$$$ &middot; Nomad</h2>

            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-top">
                <img src="images/italian.jpg" class="thumbnail__image" alt="">
            </div>
            <div class="thumbnail-bottom">
                <h2 class="thumbnail-header">Sapore Di Mare</h2>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating_amount">4212 reviews</span>
                <h2 class="thumbnail-additional-information">Italian &middot; $$$$$ &middot; Noho</h2>
            </div>
        </div>
        <div class="thumbnail">
            <div class="thumbnail-top">
                <img src="images/vegan.jpg" class="thumbnail__image" alt="">
            </div>
            <div class="thumbnail-bottom">
                <h2 class="thumbnail-header">Blossom Lotus</h2>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating rating-red">&#9733;</span>
                <span class="thumbnail-rating_amount">12421 reviews</span>
                <h2 class="thumbnail-additional-information">American &middot; $$$ &middot; East Village</h2>

            </div>
        </div>
    </div>
</section>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
            $( "#anim" ).on( "change", function() {
                $( "#datepicker" ).datepicker( "option", "showAnim", $( this ).val() );
            });
        } );
    </script>
</body>
</html>